﻿<div class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Access Denied
                </h4>
            </div>
            <div class="modal-body">
                Although your username and password are correct you do not have access to Amazon
                S3 bucket linked to your account. You may have to add some permissions using
                <a href="https://console.aws.amazon.com/s3/home">AWS console</a> or some other AWS admin tool.
            </div>
        </div>
    </div>
</div>
