﻿
<ol class="breadcrumb">
    {{#PathParts}}
    {{#Active}}
    <li><span class="glyphicon glyphicon-{{Glyph}}"></span>&nbsp;&nbsp;{{Name}}</li>
    {{/Active}}
    {{^Active}}
    <li><a href="#{{Path}}"><span class="glyphicon glyphicon-{{Glyph}}"></span>&nbsp;{{Name}}</a></li>
    {{/Active}}
    {{/PathParts}}
</ol>
<ul class="myitems"></ul>
|||
    {{#CommonPrefixes}}
<li class="folder item">
    <div class="img">
        <span class="glyphicon glyphicon-folder-close"></span>
    </div>
    <a href="#{{Prefix}}">{{Name}}</a>
</li>
    {{/CommonPrefixes}}
    {{#RealContents}}
<li class="item" id="{{Id}}" data-path="{{Key}}">
    <img data-realsrc="{{Key}}" data-thumbsrc="{{ThumbKey}}" data-src="{{Src}}" />
    <a href="#{{Key}}">{{Name}}</a>
</li>
    {{/RealContents}}
