﻿<div class="imageview">
    <div class="img"></div>
    <div class="topoverlay">
        <span title="View previous image" class="command command-prev"><span class="glyphicon glyphicon-arrow-left"></span></span>
        <span title="View next image" class="command command-next"><span class="glyphicon glyphicon-arrow-right"></span></span>
        <a title="Open image in new window" target="_blank" href="#" class="command command-original"><span class="glyphicon glyphicon-eye-open"></span></a>
        <span title="Go back to image list" class="pull-right command command-close">&times;</span>
    </div>
    <div class="command-prev prevoverlay"></div>
    <div class="command-next nextoverlay"></div>
</div>
