﻿<div class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Log in
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div style="display:none" class="alert alert-danger err">Username or password you entered is incorrect</div>
                    <div class="form-group can-has-error">
                        <label class="col-sm-4 control-label" for="username">
                            User name
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="username" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group can-has-error">
                        <label class="col-sm-4 control-label" for="password">
                            Password
                        </label>
                        <div class="col-sm-8">
                            <input type="password" id="password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input id="persist-login" type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>