﻿.myitems {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    padding: 0;
    margin: 0;

    &.loading{
        &:before{
            content:'Loading, please wait...';
            display:block;
            margin:0 auto;
            text-align:center;
            position: absolute;
            top: 36px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .item {
        width: 250px;
        height: 250px;
        margin: 0 1em 1em 0;
        padding:.25em;
        border: 1px solid transparent;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        vertical-align:top;
        position:relative;
        .no-thumb{
            margin-top:20px;
            font-size:72px;
            color:#ccc;
            &.now{
                color:#d0ff9b;
            }
            &.err{
                color:#ffaeae;
            }
        }
        .img, img {
            font-size: 150px;
            color: #ffe879;
            max-width: 230px;
            max-height: 200px;
            margin: auto;
        }
        a{
            position:absolute;
            bottom:0;
            left:0;
            right:0;
        }

        &:hover {
            border: 1px solid silver;
        }

        &.folder {
        }
    }
}
