﻿.imageview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        img{
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
        }
        video{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .topoverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
        background: #444;

        .command {
            color: #fff;
            font-size: 36px;
            line-height: 42px;
            width: 42px;
            height: 42px;
            text-align: center;
            cursor: pointer;

            &.command-original {
                margin-left: 42px;
            }
        }
    }

    .prevoverlay {
        position: absolute;
        top: 42px;
        left: 0;
        right: 50%;
        bottom: 0;
    }

    .nextoverlay {
        position: absolute;
        top: 42px;
        left: 50%;
        right: 0;
        bottom: 0;
    }
}
